/**
 * Header
 */

.header {
  display: flex;
  align-items: baseline;
}

/**
 * Search bar
 */
.search {
  display: flex;
}

.search textarea {
  width: 500px;
}

/**
 * Filters
 */
.options {
  display: none;
}

/**
 * Results table
 */
.row {
  display: flex;
}

.cell {
  width: 150px;
}
